<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeycodeGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ScriptKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B677B3E91D403D4C00D2A4CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B677B3F31D403D4C00D2A4CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B677B40E1D40483000D2A4CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68D73A61D41A58A0098FC03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
